.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  margin-left: 0;
  line-height: 35px;
  margin-top: 0;
}

.description {
  font-size: 18px;
  line-height: 25px;
}

.logo-img {
  display: block;

}
